footer{
    height: 100px;
    color: white;
    padding: 0 10px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}
.colordelfooter{
    background-color: rgb(204, 121, 39);
    padding-right: 100px;
    margin-top: 0px;
    padding-top: 0px;
}