<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/agregarPost.css">
<body>

    <%- include("./partials/headerLogueado") %>

    <main class="maindiv">
        <div class="uk-section uk-section-small ">
            <div class="uk-container uk-container-large uk-flex" id="divdelpost">

                <div class="agregarpost">
                    <h2 class="titlepost">Agregar post</h2>
                <form action="/detallePost">
                    <input type="text">
                    <input type="file" id="img" name="img" accept="image/*">
                </form>
                </div>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>