<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
   
    <%- include("./partials/headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>(Formulario para editar los datos de perfil del usuario)</h2>
            
                </form>
            </div>
        </div>
    </main>

<%- include("./partials/footer") %>

</body>

</html>