<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/login.css">
<body>

    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">



                    <div class="divgrande">
                        <h2 class="subtitle">Login</h2>
                        <form  class="formulario" action="">
                            <label class="loggin">Nombre de Usuario:</label><br>
                            <input class="campo"type="text" id="fname" name="fname"><br>
                            <label class="loggin">Contraseña:</label><br>
                            <input class="campo"type="text" id="lname" name="lname"><br>
                            <h3 class="subtitle">¿Olvidaste tu contraseña?</h3>
                            <label class="loggin">Correo electrónico:</label><br>
                            <input class="campo"type="text" id="lname" name="lname"><br>
                            <label class="loggin">Numero de teléfono:</label><br>
                            <input class="campo"type="text" id="lname" name="lname"><br>
                          </form>
                    </div>


                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>