<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/registracion.css">

<body>

    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">

                <div class="divgrande">
                    <h2 class="subtitle">Registrarme</h2>
                    <form action="/user/registracion" method="POST">
                        <% if(locals.error != undefined){ %> 
                            <p><%= error.message%> </p>
                        <% } %>
                        <label class="loggin">Nombre de Usuario:</label><br>
                        <input class="campo" type="text" id="fname" name="username"><br>
                        <label class="loggin">Contraseña:</label><br>
                        <input class="campo" type="password" id="lname" name="password"><br>
                        <label class="loggin">Correo electrónico:</label><br>
                        <input class="campo" type="email" id="lname" name="email"><br>
                        <label class="loggin">Fecha de Nacimiento:</label><br>
                        <input class="campo" type="date" id="lname" name="fechaNacimiento"><br>
                        <button>REGISTRARSE</button>
                    </form>
                </div>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>