<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

    <%- include("./partials/headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>(Mostar resultados de busqueda)</h2>

            </div>
        </div>
    </main>

<%- include("./partials/footer") %>

</body>

</html>