<link rel="stylesheet" href="/css/header.css">
<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/">FoodHub</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/">Home</a></li>
                        <li><a href="/user/login">Logout</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <a href="/newPost">Agregar post</a>
                    <a href="/miPerfil">Mi perfil</a>
                    <form action="/resultadoBusqueda" method="GET" class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input type="search" name="busqueda" class="uk-search-input" placeholder="Buscar...">
                    </form>
                </div>
            </nav>
        </div>
    </section>
</header>